/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 10px 0; /* Espaçamento interno (padding) no topo e na parte inferior */
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo da navegação */
nav ul {
    list-style: none; /* Remove marcadores de lista */
    padding: 0; /* Remove preenchimento padrão */
}

/* Estilo dos itens da navegação */
nav ul li {
    display: inline; /* Exibe os itens em linha */
    margin: 0 10px; /* Espaçamento entre os itens */
}

/* Estilo dos links da navegação */
nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}


/* Estilo do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

/* Estilo dos rótulos do formulário */
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo dos campos de entrada do formulário */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo do botão do formulário */
form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo do botão do formulário ao passar o mouse */
form button:hover {
    background-color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo do botão centralizado */
.center-button {
    text-align: center;
    margin-top: 20px;
}

/* Estilo do botão */
.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilo do botão ao passar o mouse */
.btn:hover {
    background-color: #555;
}
